* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 2.2;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCmVq8uttfZv6xmGSPTKGX_Itwz4cmXNK02w&s");
  background-size: cover;
  background-position: center;
}

a {
  font-size: 22px;
  color: rgba(229, 245, 14, 0.89);
  text-decoration: none;
  box-shadow: #fff;
}

a:hover {
  text-decoration: underline;
}

button,
input,
textarea,
select {
  margin-left: 50px;
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  background-color: #033f80;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 40%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.35rem;
  margin-bottom: 3rem;
  transition: all 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 20px 1px #007bff;
}

label {
  margin-left: 50px;
  color: rgba(229, 245, 14, 0.89);
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(229, 245, 14, 0.89);
  font-weight: normal;
  margin-bottom: 2.5rem;
}

h1 {
  font-size: 3.5rem;
  margin-left: 50px;
}

h2 {padding: 10px ;
  margin-bottom: 1px;
  margin-left: 50px;
  font-size: 1.2rem;
}

h3 {
  font-size: 2rem;
  margin-left: 50px;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 50%;
  text-align: justify;
  color: rgba(229, 245, 14, 0.89);
  margin-bottom: 2.5rem;
  font-size: 1.3rem;
  margin-right: 700px;
  margin-left: 200px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 0.5rem;
}

img {
  margin-left: 150px;
  width: 40%;
  height: 400px;
  border-radius: 10%;
}
.profile-picture {
  margin-left: 780px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
}

nav {
  height: 350px;
  background-color: rgba(235, 193, 193, 0.144);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 250px;
  width: 250px;
  border-radius: 0px 25%;
}
nav ul {
  margin-right: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-icon {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.team-icon li {
  margin: 0 1rem;
}

.team-icon img {
  background-color: rgba(229, 245, 14, 0.89);
  width: 70px;
  height: 60px;
}

nav ul li {
  margin: 0 0.5rem;
}


footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(235, 193, 193, 0.144);
  color: rgba(229, 245, 14, 0.89);
  padding: 1rem;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  body,
  footer {
    width: 100%;
    padding: 1rem;
  }

  .profile-picture {
    width: 100%;
    height: auto;
  }

  nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(235, 193, 193, 0.144);
    padding: 1rem;
  }

  nav ul {
    display: block;
    text-align: center;
  }

  nav ul li {
    margin: 0.5rem 0;
  }

  .team-icon img {
    width: 50px;
    height: 40px;
  }

  p {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 0;
  }

  img {
    width: 100%;
    height: auto;
  }
}
.section .language-item {
  margin: 0px 50px;
  color: white;
}

.section .language-item .full {
  width: 50%;
  height: 15px;
  background-color: #ffffff;
  border-radius: 15px;
}

.section .language-item .percent {
  background-color: rgba(229, 245, 14, 0.89);;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.section .language-item .first {
  width: 92%;
}

.section .language-item .second {
  width: 75%;
}
